* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    font-size: $regularSize;
    font-family: $textfont;
    line-height: 1.5;
    overflow: hidden;
}

h1 {
    margin-bottom: 0;
    letter-spacing: 0.1em;
}

p {
    padding: 0;
    margin: 0;
    color: #aaa;
    letter-spacing: 0.1em;
    @media all and (min-height: $breakpointLargest) {
        font-size: $largestSize;
    }
}

button {
    cursor: pointer;
}
