@import "normalize.css";

/* Base */

@import "base/_fonts";
@import "base/_variables";
@import "base/_global";

/* Layout */

@import "layout/_grid";

/* Modules */

@import "modules/_animation";
@import "modules/_background";
@import "modules/_button";
@import "modules/_changetimertime";
@import "modules/_footer";
@import "modules/_header";
@import "modules/_links";
@import "modules/_timercontainer";
