/* Contains animation classes which interact with html elements */

.visible-hidden {
    animation: 0.5s linear 0s 1 normal forwards running visible-hidden;
}

@keyframes visible-hidden {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.visible-shown {
    animation: 0.5s linear 0s 1 normal forwards running visible-shown;
}

@keyframes visible-shown {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
