button {
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    font-size: $regularSize;
    border-radius: 5px;
    transition: all .2s linear 0s;
    box-shadow: 1px 2px 2px 2px #000;
    outline: none;
    letter-spacing: 0.1em;
}

.start, .pause {
    background-color: #fa442d;
    padding: 4px 10px 10px 10px;
    &:focus, &:active {
        color: black;
        box-shadow: 0px 1px 1px 1px black;
    }
}

.reset {
    background-color: #844cae;
    padding: 4px 10px 10px 10px;
	&:focus, &:active {
        color: black;
        box-shadow: 0px 1px 1px 1px black;
	}
}

.buttons {
    text-align: center;
    margin: 0 auto;
}
