.timer-container {
    height: 50vh;
    width: 50vh;
    padding: 3px;
    margin: 5% auto 0;
    border-radius: 50%;
    border: 2px solid #0BFF2B;
    transition: all .5s ease-in 0s;
    transform: scale(1);
    @media (min-width: $breakpointSmall) {
        transform: scale(1);
        margin: 5% auto 0;
        height: 50vh;
        width: 50vh;
    }
    &:hover {
        box-shadow: 0px, 0px, 3px, 5px, #0BFF2B;
    }
}

.timer-inner-circle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    h2 {
        margin-top: 23%;
        font-size: $midSize;
		letter-spacing: 0.2em;
		@media all and (min-width: $breakpointSmall) {
			letter-spacing: 0.15em;
			font-size: $largeSize;
			@media all and (min-width: $breakpointSmall2) {
				margin-top: 26%;
				@media all and (min-height: $breakpointLargest) {
					font-size: $sizeUltraGrande;
				}
			}
		}
    }
}


.timer-filler {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    z-index: -100;
    overflow: hidden;
}

.timer-filler-work {
    background-color: $timer-filler-work-color;
}

.timer-filler-break {
    background-color: $timer-filler-break-color;
}

.timer-clock {
    margin: 5% 0 10%;
    font-size: $midSize;
	letter-spacing: 0.2em;
    @media all and (min-width: $breakpointSmall) {
        margin: 7.5% 0 18%;
		letter-spacing: 0.2em;
		font-size: $largestSize;
		@media all and (min-height: $breakpointHeightSmall2) {
			margin: 5% 0 10%;
			 @media all and (min-height: $breakpointLargest) {
				 font-size: $sizeUltraGrande;
			 }
		}
    }
}
