.timer-container {
	height: 50vh;
	width: 50vh;
	padding: 3px;
	margin-bottom: 5%;
	margin: auto;
	border-radius: 250rem;
	border: 2px solid #0BFF2B;
	transition: all .5s ease-in 0s;
	transform: scale(0.75);
	@media (min-width: $breakpointSmall) {
		transform: scale(1);
		height: 50vh;
		width: 50vh;
	}
	&:hover {
		box-shadow: 0px, 0px, 3px, 5px, #0BFF2B;
	}
}

.timer-inner-circle {
	position: relative;
	overflow: hidden;
	border-radius: 200px;
	font-size: $largeSize;
	height: 100%;
	h2 {
		margin-top: 20%;
		font-size: $largeSize;
	}
}

.timer-filler {
	position: absolute;
	height: 110%;
	width: 100%;
	top: 100%;
	z-index: -100;
	overflow: hidden;
}

.timer-filler-work {
	background-color: $timer-filler-work-color;
}

.timer-filler-break {
	background-color: $timer-filler-break-color;
}

.timer-clock {
	margin: 2.5% 0;
	font-size: $largestSize;
	@media (min-width: $breakpointSmall) {
		margin: 2.5% 0 7.5%;
	}
}
